textarea {
    resize: none;
    overflow: auto;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

#textarea {
    background: #646464;
    color: white;
}

#canvas {
    background: black;
}